@{
    ViewBag.Title = "Home Page";
}
@using Get_A_Job.Models

@model List<GetJobOffersView>


<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block" width="100%" height="50%" src="~/Image/RA_JOB_ALERT_NEW_web.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block" width="100%" height="50%" src="~/Image/free-job-alert-2019.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block" width="100%" height="50%" src="~/Image/doctorJob.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block" width="100%" height="50%" src="~/Image/engineerJob.jpg" alt="Fourth slide">
        </div>
        <div class="carousel-item">
            <img class="d-block" width="100%" height="50%" src="~/Image/teachjob.jpg" alt="Fifth slide">
        </div>
    </div>

</div>
<div class="container-fluid">
    <div class="d-flex justify-content-center row-cols-md-10 " style="padding-top:10px;">
        <h1>Ongoing Recruitment</h1>
    </div>
    <div class="row" style="padding:50px">
        @{
            if (Model.Count > 0)
            {
                int count = 0;
                foreach (var job in Model)
                {


                    count++;
                    if (count < 4)
                    {
                        <div class="col-md-4">
                            @using (Html.BeginForm("JobsDetail", "JobApplication"))
                            {

                            <input id="jobId" type="hidden" value="@job.Id" name="jobId" />

                            <h2>@job.Title</h2>
                            <p>
                                @job.AplicationDetails
                            </p>
                            <p>
                                <input type="submit" value="Apply" class="nav-link btn btn-primary mr-sm-2 btn-outline-primary text-white row-md-5" />
                            </p>
                            }
                        </div>
                    }
                    else
                    {
                        break;
                    }


                }
            }

        }

    </div>
    <div class="d-flex justify-content-center row-cols-md-4 " style="padding:10px;">
        @Html.ActionLink("View All Offers", "AllJobs", "JobApplication", routeValues: null, htmlAttributes: new { id = "registerLink", Class = "nav-link btn btn-primary mr-sm-2 btn-outline-primary text-white row-md-10" })
    </div>
</div>