@{
    ViewBag.Title = "Jobs Page";
}

@using Get_A_Job.Models

@model List<GetJobOffersView>

<div class="container" style="margin-top:10px;">
    <div class="d-flex justify-content-center row-cols-md-10 " style="padding-top:10px;">
        <h1>All Ongoing Recruitment</h1>
    </div>
    @{
        <div class="row " style="padding:10px">
            @{
                if (Model.Count > 0)
                {
                    foreach (var job in Model)
                    {
                        using (Html.BeginForm("JobsDetail", "JobApplication"))
                        {

                            <input id="jobId" type="hidden" value="@job.Id" name="jobId" />

                            <h2>@job.Title</h2>
                            <p>
                                @job.AplicationDetails
                            </p>
                            <p>
                                <input type="submit" value="Apply" class="nav-link btn btn-primary mr-sm-2 btn-outline-primary text-white row-md-10" />
                            </p>

                        }
                    }
                }

            }

        </div>
    }

</div>
