
@{
    ViewBag.Title = "Menu";
}

    <div class="container" style="margin-top:10px;">
        <p>With fixed width:</p>
        <div class="list-group">
            <a href="#" class="list-group-item"><i class="fa fa-home fa-fw"></i> Home</a>
            <a href="#" class="list-group-item"><i class="fa fa-book fa-fw"></i> Library</a>
            <a href="#" class="list-group-item"><i class="fa fa-pencil fa-fw"></i> Applications</a>
            <a href="#" class="list-group-item"><i class="fa fa-cog fa-fw"></i> Settings</a>
        </div>


        @*
         <div class="row">

            <div class="col-md-6 text-center" style="padding: 10px; align-content:center; justify-items:center;">
                <i class="fa fa-download fa-fw" style="font-size: 100px; color: green;"></i>
                <h3>
                    Accepted Applications
                </h3>
                <h6>
                    0
                </h6>
            </div>
            <div class="col-md-5 text-center">
                <i class="fa fa-eject fa-fw" style="font-size: 100px; color: yellow;"></i>
                <h3>
                    Pending Applications
                </h3>
                <h6>
                    0
                </h6>
            </div>

        </div>

        <div class="row">

            <div class="col-md-6 text-center" style="padding: 10px; align-content:center; justify-items:center;">
                <i class="fa fa-anchor fa-fw" style="font-size: 100px; color: red;"></i>
                <h3>
                    Rejected Applications
                </h3>
                <h6>
                    0
                </h6>
            </div>
            <div class="col-md-5 text-center">
                <i class="fa fa-asterisk fa-fw" style=" font-size: 100px;
            color: #007bff;"></i>
                <h3>
                    Unknown Applications
                </h3>
                <h6>
                    0
                </h6>
            </div>

        </div>

        *@


    </div>

